.top {
  margin-top: 48px;
  display: flex;
}

.topRightSide img {
  width: calc(399px * 0.7);
  height: calc(756px * 0.7);
}
.topLeftSide {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ultimateTonWallet {
  margin-top: 88px;
  font-size: 56px;
}
.designedSecure {
  margin-top: 56px;
  font-size: 42px;
  text-align: center;
  padding: 0 40px;
}

.stores {
  margin-top: 52px;
  position: relative;
}
.stores img {
  width: calc(538px * 0.7);
  height: calc(103px * 0.7);
  opacity: 0.2;
}
.stores .comingSoon {
  text-align: center;
  font-size: 24px;
  position: relative;
}


/*
  Features
*/

.features {
  margin-top: 72px;
}
.featuresTitle {
  font-size: 48px;
  text-align: center;
}

.boxes {
  margin-top: 42px;
  display: flex;
  gap: 42px;
  flex-wrap: wrap;
}

.box {
  border: 1px solid #778;
  border-radius: 35px;
  width: calc(400px * 0.6);
  height: calc(300px * 0.6 + 12px);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.boxImage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.boxImage img {
  height: 50px;
}
.boxTitle {
  text-align: center;
  font-size: 32px;
  margin-top: 12px;
  color: #4D4D4D;
}
.boxText {
  text-align: center;
  color: #778;
  margin-top: 12px;
  font-size: 16px;
}


/*
  Final
*/

.final {
  margin-top: 84px;
}
.finalTitle {
  font-size: 36px;
  text-align: center;
}
.finalStores {
  margin-top: 40px;
  position: relative;
  text-align: center;
}
.finalStores img {
  width: calc(538px * 0.7);
  height: calc(103px * 0.7);
  opacity: 0.2;
}
.finalText {
  margin: 62px auto 24px;
  width: 70%;
  border: 1px solid #4D4D4D;
  padding: 24px 42px 32px;
  box-sizing: border-box;
  border-radius: 16px;
}
