/* Tablet: 480,
TabletLarge: 768,
Desktop: 960,
DesktopLarge: 1170, */


.footerContainer,
.middleContainer,
.headerContainer {
  max-width: 960px;
  margin: 0 auto;

  /* box-sizing: border-box; */
  padding: 0 24px;
}

